.header {
  height: 60px;
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px;
}

.header_logo {
  height: 18px;
  width: fit-content;
  position: absolute;
  top: 21px;
  left: 24px;

}

.header_logo img {
  height: 100%;
}

.header_nav {
  height: 60px;
  width: 318px;
  position: absolute;
  right: 14px;
  display: flex;
  justify-content: space-around;
}

.header_nav div {
  margin-top: 18px;
  font-weight: 500;
  display: flex;
  cursor: pointer;
}

.faChevronDown {
  margin-top: 4px;
  margin-left: 5px;
}

.header_nav div p:hover {
  color: #0066ff !important;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 40px;
  margin-top: 10px;
}

.signInBtn {
  font-weight: 500;
}

.signInBtn:hover {
  color: #0066ff;
}

.signUpBtn {
  margin-top: 12px;
  background-color: #0066ff;
  border-radius: 5px;
  width: 75px;
  height: 36px;
  color: white;
}

.signUpBtn:hover {
  background-color: #0050ff;
}

.header_nav button {
  font-weight: 500;
}

.goPro {
  color: fuchsia;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------ */

.title {

  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title h1 {
  width: 40%;
  margin-left: 30%;
  font-size: 50px !important;
  text-align: center;
  font-weight: 900;
  letter-spacing: -0.045em;
}

.title p {
  margin-top: 50px;
  width: 40%;
  margin-left: 30%;
  font-size: 20px !important;
  text-align: center;
  font-weight: 500;
  color: #7d7c83;
}

.make-palette {
  width: 60%;
  margin-left: 20%;
  height: 550px;
  position: relative;
}

.color-palette {
  width: 100%;
  height: 90%;
  display: flex;
}

.item {
  width: 20%;
  height: 100%;
}

.color {
  width: 100%;
  height: 80%;
  background: rgba(17, 191, 37, 0.52);
  padding-top: 75%;
  cursor: pointer;
}

.color:hover{
  transform: scale(1.1);
  transition: all 0.2s;
}

.color:hover .color-hex{
  transition: all 0.5s;
  display: block;
}

.input {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  margin-left: 10%;
}

.text-input {
  width: 50%;
  height: 80%;
}

input[type='text'] {
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: #7d7c83;
  margin-right: 10px;
}

input[type='text']:focus {
  outline: none;
}

.color-input {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}

input[type='color'] {
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: #7d7c83;
  border-radius: 10px;
  cursor: pointer;
}

.item p {
  font-weight: 500;
  padding-top: 10%;
  margin-left: 10%;
}

#color1 {
  border-radius: 15px 0 0 15px !important;
}

#color5 {
  border-radius: 0 15px 15px 0 !important;
}

.form-border{
  width: 100%;
  height: 30%;
  position: absolute;
  top: 75%;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 15px;
  z-index: -1;
}
#export-btn{
  width: 20%;
  height:25%;
  background-color: #0050ff;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 40%;
  border-radius: 10px;
  z-index:10;
}

#export-btn:hover{
  background-color:#0066ff;
}

.color-hex{
  width: fit-content;
  height: fit-content;
  margin-left: 35% !important;
  display: none;
}

.top-palettes{
  margin-top: 30px;
  width: 60%;
  height: 300px;
  display:flex;
  justify-content: space-between;
  margin-left: 20%;
  flex-wrap: wrap;
}

.top-palettes-item{
  width: 30%;
  min-width: 30%;
  height: 40%;
  background: #000;
  border-radius: 10px;
} 
.top-palettes-header{
  margin-left: 40%;
  margin-top: 60px;
  width: 20% !important;
  text-align: center;
}